<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v9.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<PropertyGroup>
		<LangVersion>9.0</LangVersion>
	</PropertyGroup>
	<connectionStrings>
		<add name="Default"
			 connectionString="Server=LAPTOP-BQ04CAS1.;Database=PBL3;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>